# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [19]:
# import pandas
import pandas as pd
# create your data variabe using .read_csv 
movie_data = pd.read_csv('IMDB-Movie-Data.csv')
# create your data_indexed variable here
data_indexed = pd.read_csv('IMDB-Movie-Data.csv', index_col='Title')

In [20]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [21]:
# Read data with specified explicit index



print(data_indexed)

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727
...                       ...                ...     ...     ...
Secret in Their Eyes     2015                111     6.2   27585
Hostel: Part II          2007                 94     5.5   73152
Step Up 2: The Streets   2008                 98     6.2   70699
Search Party             2014                 93     5.6    4881
Nine Lives               2016                 87     5.3   12435

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0
...                                     ...        ...
Secret in Their Eyes                    NaN       45.0
Hostel: Part II                       17.54       46.0
Step Up 2: The Streets                58.01       50.0
Search Party                            NaN       22.0
Nine Lives                            19.64       11.0

[1000 rows x 11 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [22]:
# Use the head() function to view the first 5 rows of the data set
data_indexed.head(5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [23]:
# Use the tail() function to view the last 5 rows of the data set
data_indexed.tail(-5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
Mindhorn,8,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
The Lost City of Z,9,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
Passengers,10,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [24]:
# The info() function: 
data_indexed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [25]:
# shape:
data_indexed.shape

# what information does shape provide?  what is the order?

(1000, 11)

In [26]:
# columns:
data_indexed.columns

# what information does columns provide?

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [27]:
# The describe() function: 
data_indexed.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### 4. Data Selection -- Indexing and Slicing

In [28]:
#  Extract data as series
# define and print the variable 'genre'
genre = data_indexed['Genre']
print(genre)

Title
Guardians of the Galaxy     Action,Adventure,Sci-Fi
Prometheus                 Adventure,Mystery,Sci-Fi
Split                               Horror,Thriller
Sing                        Animation,Comedy,Family
Suicide Squad              Action,Adventure,Fantasy
                                     ...
Secret in Their Eyes            Crime,Drama,Mystery
Hostel: Part II                              Horror
Step Up 2: The Streets          Drama,Music,Romance
Search Party                       Adventure,Comedy
Nine Lives                    Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [29]:
# Extract the data as a dataframe and print it
genre_df = data_indexed[['Genre']]
print(genre_df)

                                            Genre
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi
Prometheus               Adventure,Mystery,Sci-Fi
Split                             Horror,Thriller
Sing                      Animation,Comedy,Family
Suicide Squad            Action,Adventure,Fantasy
...                                           ...
Secret in Their Eyes          Crime,Drama,Mystery
Hostel: Part II                            Horror
Step Up 2: The Streets        Drama,Music,Romance
Search Party                     Adventure,Comedy
Nine Lives                  Comedy,Family,Fantasy

[1000 rows x 1 columns]

In [30]:
# Extract data using rows
all_titles = data_indexed.index.tolist()
# loc function
rows_df = data_indexed.loc[all_titles]

In [31]:
# iloc function
rows_df = data_indexed.iloc[:5]
print(rows_df)

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...

                         Year  Runtime (Minutes)  Rating   Votes  \
Title
Guardians of the Galaxy  2014                121     8.1  757074
Prometheus               2012                124     7.0  485820
Split                    2016                117     7.3  157606
Sing                     2016                108     7.2   60545
Suicide Squad            2016                123     6.2  393727

                         Revenue (Millions)  Metascore
Title
Guardians of the Galaxy              333.13       76.0
Prometheus                           126.46       65.0
Split                                138.12       62.0
Sing                                 270.32       59.0
Suicide Squad                        325.02       40.0

### 5. Data Selection - Based on Conditional Filtering

In [33]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
data_indexed['Year'] = pd.to_datetime(data_indexed['Year'], format='%Y').dt.year
data_indexed['Rating'] = data_indexed['Rating'].astype(float)

filtered_movies = data_indexed[
    (data_indexed['Year'].between(2010, 2016)) &
    (data_indexed['Rating'] < 6.0)
]

top_revenue_movies = filtered_movies.sort_values(by='Revenue (Millions)', ascending=False).head(10)

print(top_revenue_movies)

                                           Rank                     Genre  \
Title
The Twilight Saga: Eclipse                  942   Adventure,Drama,Fantasy
The Twilight Saga: Breaking Dawn - Part 2   367   Adventure,Drama,Fantasy
The Twilight Saga: Breaking Dawn - Part 1   926   Adventure,Drama,Fantasy
Transformers: Age of Extinction             127   Action,Adventure,Sci-Fi
Teenage Mutant Ninja Turtles                658   Action,Adventure,Comedy
Fifty Shades of Grey                         64    Drama,Romance,Thriller
Clash of the Titans                         576  Action,Adventure,Fantasy
Grown Ups 2                                 395                    Comedy
Kickboxer: Vengeance                        581                    Action
Ghostbusters                                 80     Action,Comedy,Fantasy

                                                                                 Description  \
Title
The Twilight Saga: Eclipse                 As a string of mysterious killings grips Seatt...
The Twilight Saga: Breaking Dawn - Part 2  After the birth of Renesmee, the Cullens gathe...
The Twilight Saga: Breaking Dawn - Part 1  The Quileutes close in on expecting parents Ed...
Transformers: Age of Extinction            Autobots must escape sight from a bounty hunte...
Teenage Mutant Ninja Turtles               When a kingpin threatens New York City, a grou...
Fifty Shades of Grey                       Literature student Anastasia Steele's life cha...
Clash of the Titans                        Perseus demigod, son of Zeus, battles the mini...
Grown Ups 2                                After moving his family back to his hometown t...
Kickboxer: Vengeance                              A kick boxer is out to avenge his brother.
Ghostbusters                               Following a ghost invasion of Manhattan, paran...

                                                     Director  \
Title
The Twilight Saga: Eclipse                        David Slade
The Twilight Saga: Breaking Dawn - Part 2         Bill Condon
The Twilight Saga: Breaking Dawn - Part 1         Bill Condon
Transformers: Age of Extinction                   Michael Bay
Teenage Mutant Ninja Turtles               Jonathan Liebesman
Fifty Shades of Grey                       Sam Taylor-Johnson
Clash of the Titans                           Louis Leterrier
Grown Ups 2                                      Dennis Dugan
Kickboxer: Vengeance                           John Stockwell
Ghostbusters                                        Paul Feig

                                                                                      Actors  \
Title
The Twilight Saga: Eclipse                 Kristen Stewart, Robert Pattinson, Taylor Laut...
The Twilight Saga: Breaking Dawn - Part 2  Kristen Stewart, Robert Pattinson, Taylor Laut...
The Twilight Saga: Breaking Dawn - Part 1  Kristen Stewart, Robert Pattinson, Taylor Laut...
Transformers: Age of Extinction            Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...
Teenage Mutant Ninja Turtles               Megan Fox, Will Arnett, William Fichtner, Noel...
Fifty Shades of Grey                       Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...
Clash of the Titans                        Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...
Grown Ups 2                                Adam Sandler, Kevin James, Chris Rock, David S...
Kickboxer: Vengeance                       Dave Bautista, Alain Moussi, Gina Carano, Jean...
Ghostbusters                               Melissa McCarthy, Kristen Wiig, Kate McKinnon,...

                                           Year  Runtime (Minutes)  Rating  \
Title
The Twilight Saga: Eclipse                 2010                124     4.9
The Twilight Saga: Breaking Dawn - Part 2  2012                115     5.5
The Twilight Saga: Breaking Dawn - Part 1  2011                117     4.9
Transformers: Age of Extinction            2014                165     5.7
Teenage Mutant Ninja Turtles               2014                101     5.9
Fifty Shades of Grey                       2015                125     4.1
Clash of the Titans                        2010                106     5.8
Grown Ups 2                                2013                101     5.4
Kickboxer: Vengeance                       2016                 90     4.9
Ghostbusters                               2016                116     5.3

                                            Votes  Revenue (Millions)  \
Title
The Twilight Saga: Eclipse                 192740              300.52
The Twilight Saga: Breaking Dawn - Part 2  194329              292.30
The Twilight Saga: Breaking Dawn - Part 1  190244              281.28
Transformers: Age of Extinction            255483              245.43
Teenage Mutant Ninja Turtles               178527              190.87
Fifty Shades of Grey                       244474              166.15
Clash of the Titans                        238206              163.19
Grown Ups 2                                114482              133.67
Kickboxer: Vengeance                         6809              131.56
Ghostbusters                               147717              128.34

                                           Metascore
Title
The Twilight Saga: Eclipse                      58.0
The Twilight Saga: Breaking Dawn - Part 2       52.0
The Twilight Saga: Breaking Dawn - Part 1       45.0
Transformers: Age of Extinction                 32.0
Teenage Mutant Ninja Turtles                    31.0
Fifty Shades of Grey                            46.0
Clash of the Titans                             39.0
Grown Ups 2                                     19.0
Kickboxer: Vengeance                            37.0
Ghostbusters                                    60.0

In [34]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?

In [35]:
twilight_movies = data_indexed[data_indexed.index.str.contains('Twilight', case=False)]
print("All Twilight Movies:\n", twilight_movies)

All Twilight Movies:
                                            Rank                    Genre  \
Title
Twilight                                    166    Drama,Fantasy,Romance
The Twilight Saga: Breaking Dawn - Part 2   367  Adventure,Drama,Fantasy
The Twilight Saga: Breaking Dawn - Part 1   926  Adventure,Drama,Fantasy
The Twilight Saga: Eclipse                  942  Adventure,Drama,Fantasy

                                                                                 Description  \
Title
Twilight                                   A teenage girl risks everything when she falls...
The Twilight Saga: Breaking Dawn - Part 2  After the birth of Renesmee, the Cullens gathe...
The Twilight Saga: Breaking Dawn - Part 1  The Quileutes close in on expecting parents Ed...
The Twilight Saga: Eclipse                 As a string of mysterious killings grips Seatt...

                                                      Director  \
Title
Twilight                                   Catherine Hardwicke
The Twilight Saga: Breaking Dawn - Part 2          Bill Condon
The Twilight Saga: Breaking Dawn - Part 1          Bill Condon
The Twilight Saga: Eclipse                         David Slade

                                                                                      Actors  \
Title
Twilight                                   Kristen Stewart, Robert Pattinson, Billy Burke...
The Twilight Saga: Breaking Dawn - Part 2  Kristen Stewart, Robert Pattinson, Taylor Laut...
The Twilight Saga: Breaking Dawn - Part 1  Kristen Stewart, Robert Pattinson, Taylor Laut...
The Twilight Saga: Eclipse                 Kristen Stewart, Robert Pattinson, Taylor Laut...

                                           Year  Runtime (Minutes)  Rating  \
Title
Twilight                                   2008                122     5.2
The Twilight Saga: Breaking Dawn - Part 2  2012                115     5.5
The Twilight Saga: Breaking Dawn - Part 1  2011                117     4.9
The Twilight Saga: Eclipse                 2010                124     4.9

                                            Votes  Revenue (Millions)  \
Title
Twilight                                   361449              191.45
The Twilight Saga: Breaking Dawn - Part 2  194329              292.30
The Twilight Saga: Breaking Dawn - Part 1  190244              281.28
The Twilight Saga: Eclipse                 192740              300.52

                                           Metascore
Title
Twilight                                        56.0
The Twilight Saga: Breaking Dawn - Part 2       52.0
The Twilight Saga: Breaking Dawn - Part 1       45.0
The Twilight Saga: Eclipse                      58.0